<ion-view hide-back-button='true'>
  <ion-nav-buttons side="secondary">
      <button class="button icon ion-ios-person button-clear" ng-click="openModal()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">Account</h1>
  </ion-nav-title>
  <ion-content>
    <div class="row" ng-show="isLogin">
        <div class="col">
          <a class="item item-avatar" href="#">
            <img src="{{userInfo.avatar_large}}">
            <h2>{{userInfo.screen_name}}</h2>
            <h2>{{userInfo.location}}</h2>
          </a>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list">
          <li class="item item-toggle item-block">
             Sync Contacts
             <label class="toggle toggle-assertive">
               <input type="checkbox" ng-model="syncContacts">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list">
          <li class="item item-toggle item-block">
             Sync Location
             <label class="toggle toggle-assertive">
               <input type="checkbox" ng-model="syncLocation">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
